@charset "utf-8";
/* 제네시스 PJ : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* font-family: "Roboto Flex", sans-serif; */
/* 공통클래스 */
/* 중앙속박스 */
.inbox{
    /* 최대가로크기 */
    max-width: 1446px;
    /* 블록박스 중앙정렬 -> 마.영.오! */
    margin: 0 auto;    
}

/* 중간제목 공통 */
.stit{
    font-family: "Roboto Flex", sans-serif;
    font-weight: normal;
    font-size: min(40px, 4vw);
}
/* 하위설명공통 */
hgroup h3{
    font-family: "Roboto Flex", sans-serif;
    font-weight: normal;
    font-size: min(15px, 4vw);
    padding: 10px 0;
}

/* 임시 타이틀 */
.temp-tit{
    position: absolute;   
    color: #888; 
}

/* 숨기기 클래스 */
.blind{
    display: none;
}

/* 플렉스박스 클래스 */
.fx-box{
    display: flex;
    flex-wrap: wrap;
}
