@charset "utf-8";

/* 제네시스 PJ : main.css */

/* 외부CSS 불러오기 */
/* 12그리드 flex CSS */
@import url(./grid_12_flex.css);
@import url(./common.css);
@import url(./reset.css);
@import url(./core.css);

/* 공사중표시 */
/* body * {
    outline: 2px dashed red;
} */

body {
  padding-top: 70px;
}

/************* 2.컨텐츠영역 *************/
.page {
  /* 영역별로 모두 보이는 화면 높이 설정 */
  /* height: 100vh; */
  outline: 1px dashed gray;
  margin-top: 5vh;
}
/* 임시타이틀 */
.page .temp-tit {
  font-size: 4vw;
  line-height: 100vh;
  width: 100%;
  text-align: center;
}

#container {
  /*최상위부모*/
  position: relative;
}

#container > header {
  position: relative;
  width: 100%;
  height: 222px;
}

#container > section {
  /*슬라이드부모*/
  position: relative;
  height: 100vh;
  overflow: hidden;
  /*넘치는 자식요소 숨기기*/
  /*    border: 2px solid red;*/
  box-sizing: border-box;
}
/* 슬라이드 박스 */
ul.slide {
  display: flex;
  /* 플렉스박스!!! */

  /*사진을 싸고 있는 슬라이드*/
  /* -> 앱솔루트나 렐러티브는 left값을 사용가능
    -> 요즘은 translate를 많이사용함!
    position: absolute;
    top: 0;
    left: 0; */
  width: 100%;
  height: 100%;
}

.slide li {
  flex-shrink: 0;
  /* 부모박스크기만큼 줄어들지 않음 -> 0 */
  flex-basis: 100%;
  /* 가로크기를 부모박스 크기에 맞춤! */
  /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

.slide li img {
  /*이미지는 박스에 맞춤!*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지 비율유지 채우기! */
}

/*이동버튼*/
.abtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*Y축 중앙이동*/
}

/* 슬라이드 사진영역 */
.slide ul {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 슬라이드 텍스트 */
.ban-txt {
  position: absolute;
  top: 20vh;
  left: 10vw;
  color: #fff;
  white-space: nowrap;

  font-family: "Roboto Flex", sans-serif;
}
/* 글자는 처음에 바깥에 나가있음 */
.ban-txt .bt {
  position: absolute;
  top: 0;
  translate: -1000%;
  transition: 0.6s ease-out 0.2s;
}
/* 해당순번에 on넣으면 등장 */
.ban-txt .bt.on {
  translate: 0;
}
.ban-txt span {
  display: block;
  font-size: 1vw;
  text-indent: 10px;
}
.ban-txt h2 {
  font-weight: normal;
  font-size: 4vw;
}

/*왼쪽버튼*/
.ab1 {
  left: 50px;
}

/*오른쪽버튼*/
.ab2 {
  right: 50px;
}

/*블릿버튼*/
.indic {
  display: flex;
  /* 플렉스박스 */
  position: absolute;
  bottom: 50px;
  left: 80px;
}

.indic li {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.indic li img {
  position: absolute;
  /*이미지 겹치게*/
}

.indic li img:last-child {
  /*회색이미지만 투명하게*/
  opacity: 0;
}

/*회색블릿이미지가 보이게하는 class*/
.indic li.on img:last-child {
  /*회색이미지만 투명하게*/
  opacity: 1;
  /*우선적용!*/
}

/***************** 모델 영역 *****************/
/* 모델 부모박스 */
#model-area {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}
.model-area {
  height: auto;
}
.model-box {
  width: 800px;
}
/* 모델선택 콤보박스 */
select#model-choice {
  width: 200px;
  height: 50px;
  background-color: #222;
  color: #fff;
  font-size: 20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
/* 리스트 타이틀 */
.model-box li h3 {
  font-size: 2rem;
  color: #000;
  font-weight: normal;
}
/* 스와이퍼 디자인 */
.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 스와이퍼 디자인 리뉴얼 */
/* 블릿 */
.swiper-pagination-bullet {
  background-color: #fff;
  vertical-align: middle;
}
.swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #fff;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}

/* 정보 아이콘 영역 */
.info-icon {
  display: flex;
  justify-content: center;
  padding: 10vh;
  gap: 10vw;
}
.info-icon figure {
  display: flex;
  flex-direction: column;
}
.info-icon figure img {
  width: 80px;
}
/* 아이콘 캡션 */
.info-icon figcaption {
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
}
/* 뉴스영역 */
.news-box {
  display: flex;
}

.news-box figcaption {
  padding: 2vw;
  box-sizing: border-box;
  background-color: gray;
}

/* 뉴스영역 캡션 */

/* 이벤트 영역 */
.page figure img {
  width: 100%;
}
.genesis-events {
  position: relative;
}
.genesis-events hgroup {
  position: absolute;
  top: 50%;
  left: 20%;
  translate: -50% -50%;
  line-height: 2;
}

/* 뉴스 정보 영역 */
.news-box figcaption {
  font-size: 16px;
  height: 230px;
  text-align-last: left;
}
.news-box h3 {
  margin-top: 10px;
  font-size: 26px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-box h4 {
  font-size: 18px;
  font-weight: normal;
}
.news-box p {
  margin-top: 10px;
  font-size: 14px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 연관컨텐츠 영역 */
.cts-box {
  display: flex;
}
.cts-box figure{
  position: relative;
}
.cts-box h3 {
  font-size: 26px;
}
.cts-box p {
  width: 70%;
  margin-top: 10px;
  font-size: 16px;
}
.cts-box a {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}
.cts-box a::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  translate: 0 -10px;
}
.cts-box a:hover::after {
  content: '';
  display: inline-block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  translate: 0 -10px;
  animation: bar-ani .3s ease-in-out .1s forwards;
}
@keyframes bar-ani {
  to{
    width: 100%;
  }
}
.cts-box figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2vw;
  font-size: 14px;
}

#news-box {
  position: relative;
  padding: 5vh;
}

.news-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px);
}


.evt-box{
  padding: 10vh;
  background-color: #fff;
  color: #222;
}

.evt-box .stit{
  text-align: center;
}
.evt-inbox {
  display: flex;
  gap: 2vw;
}
.evt-inbox figcaption {
margin-top: 20px;
font-size: 18px;
}
.evt-inbox span {
font-size: 14px;
}
.evt-inbox p {
font-size: 14px;

}


/* 다운로드 영역 */
.bt-box {
  display: flex;
}
.bt-box figcaption {
  font-size: 26px;
}
.bt-box span {
  font-size: 14px;
}
/* 하단로고 */
.logo-1{
  margin-top: 50px;
  text-align: center;
}