@charset "utf-8";

/* 제네시스 PJ : 공통 모듈 CSS - common.css */


/************* 1.상단영역 *************/
.top-area{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #222;
    box-shadow: 0 5px 5px #00000076;
    width: 100%;
    height: 69px;
    padding: 0 12rem;
    /* 패딩포함박스 */
    box-sizing: border-box;
}

/* 상단영역 플렉스 박스 */
ul.top-part-box{
    display: flex;
    
}
/* 세번째 박스만 끝에있음 */
ul.top-part-box>li:nth-child(3){
    margin-left: auto;
}

/* 로고 */
.logo{
    padding: 7px;
}
/* GNB */
.gnb{
    height: 100%;
}
.gnb ul{
    display: flex;
    line-height: 48px;
    font-size: 1.6rem;    
    gap: 60px;
    margin-left: 80px;
}

/* 기타메뉴 */
.etc-menu ul{
    display: flex;
    line-height: 48px;
    font-size: 1.6rem;    
    gap: 60px;
}

/************************************/

#container {
    /*최상위부모*/
    position: relative;
    width: 1381px;
    margin: 0px auto;
}

#container>header {
    position: relative;
    width: 100%;
    height: 222px;
}

#container>section {
    /*슬라이드부모*/
    position: relative;
    width: 913px;
    height: 564px;
    float: left;
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    /*    border: 2px solid red;*/
    box-sizing: border-box;
}
/* 슬라이드 박스 */
ul.slide {
    display: flex;
    /* 플렉스박스!!! */

    /*사진을 싸고 있는 슬라이드*/
    /* -> 앱솔루트나 렐러티브는 left값을 사용가능
    -> 요즘은 translate를 많이사용함!
    position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}

.slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

.slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*Y축 중앙이동*/
}

/* 슬라이드 사진영역 */
.slide ul{
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

/************* 2.하단영역 *************/
.footer-area{
    height: 100px;
}
